<div class="container">
    <h3 class="text-primary text-center">Movie List Share</h3>

    <!-- Login Form -->
    <form class="form-horizontal text-center">
        <!-- Error Reporting -->
        <div ng-if="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <!-- Validate -->
        <div ng-show="username.$submitted && username.$invalid" class="alert alert-danger">
            Username is required
        </div>

        <div ng-show="password.$submitted && password.$invalid" class="alert alert-danger">
            Password is required
        </div>

        <legend>Login</legend>

        <!-- Username Input -->
        <div class="form-group">
            <label for="username"
                   class="col-sm-2 control-label">
                Username
            </label>
            <div class="col-sm-10">
                <input ng-model="username"
                       required
                       type="text"
                       class="form-control"
                       id="username"
                       placeholder="username">
            </div>
        </div>

        <!-- Password Input -->
        <div class="form-group">
            <label for="password"
                   class="col-sm-2 control-label">
                Password
            </label>
            <div class="col-sm-10">
                <input ng-model="password"
                       required
                       type="password"
                       class="form-control"
                       id="password"
                       placeholder="password">
            </div>
        </div>

        <!-- Buttons -->
        <div class="btn-group btn-group-justified">
            <a ng-click="model.login(username, password)"
               class="btn btn-primary">
                Login
            </a>
            <a class="btn btn-default"
               href="#/register">
                Register
            </a>
        </div>

        <a href="/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>

    </form>
</div>