<!-- Header Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Collapsible Navbar -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#navbar-data">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><p class="text-info">Movie List Share</p></a>
        </div>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse"
             id="navbar-data">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a><span class="glyphicon glyphicon-user"></span> Profile</a>
                </li>

                <li>
                    <a href="#/user/{{model.uid}}/my-lists">
                        <span class="glyphicon glyphicon-list"></span> My Lists
                    </a>
                </li>

                <li>
                    <a href="#/user/{{model.uid}}/shared-lists">
                        <span class="glyphicon glyphicon-list"></span> Shared Lists
                    </a>
                </li>

                <li>
                    <a href="#/user/{{model.uid}}/friends">
                        <span class="glyphicon glyphicon-globe"></span> Friends
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container">

    <!-- Error Reporting -->
    <div ng-if="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <!-- Validate -->
    <div ng-show="username.$submitted && username.$invalid" class="alert alert-danger">
        Username is required
    </div>

    <!-- Profile Form -->
    <form class="form-horizontal">
        <legend>My Profile</legend>
        <!-- Username Input -->
        <div class="form-group">
            <label for="username"
                   class="col-sm-2 control-label">
                Username
            </label>
            <div class="col-sm-10">
                <input ng-model="model.user.username"
                       required
                       type="text"
                       class="form-control"
                       id="username"
                       placeholder="username">
            </div>
        </div>

        <!-- Email Input -->
        <div class="form-group">
            <label for="email"
                   class="col-sm-2 control-label">
                Email
            </label>
            <div class="col-sm-10">
                <input ng-model="model.user.email"
                       type="email"
                       class="form-control"
                       id="email"
                       placeholder="email">
            </div>
        </div>

        <!-- First Name Input -->
        <div class="form-group">
            <label for="firstName"
                   class="col-sm-2 control-label">
                First Name
            </label>
            <div class="col-sm-10">
                <input ng-model="model.user.firstName"
                       type="text"
                       class="form-control"
                       id="firstName"
                       placeholder="first name">
            </div>
        </div>

        <!-- Last Name Input -->
        <div class="form-group">
            <label for="lastName"
                   class="col-sm-2 control-label">
                Last Name
            </label>
            <div class="col-sm-10">
                <input ng-model="model.user.lastName"
                       type="text"
                       class="form-control"
                       id="lastName"
                       placeholder="last name">
            </div>
        </div>

        <!-- Buttons -->
        <a ng-click="model.updateUser()"
           class="btn btn-default btn-block">
            Save
        </a>
        <a ng-click="model.logout()"
           class="btn btn-danger btn-block">
            Logout
        </a>
        <a ng-click="model.unregister()"
           class="btn btn-danger btn-block">
            Delete Account
        </a>
    </form>

</div>