<div class="container">
    <h3 class="text-primary text-center">Movie List Share</h3>

    <!-- Login Form -->
    <form class="form-horizontal text-center">
        <legend>Login</legend>

        <!-- Username Input -->
        <div class="form-group">
            <label for="username"
                   class="col-sm-2 control-label">
                Username
            </label>
            <div class="col-sm-10">
                <input ng-model="username"
                       type="text"
                       class="form-control"
                       id="username"
                       placeholder="username">
            </div>
        </div>

        <!-- Password Input -->
        <div class="form-group">
            <label for="password"
                   class="col-sm-2 control-label">
                Password
            </label>
            <div class="col-sm-10">
                <input ng-model="password"
                       type="password"
                       class="form-control"
                       id="password"
                       placeholder="password">
            </div>
        </div>

        <!-- Buttons -->
        <div class="btn-group btn-group-justified">
            <a href="#/profile"
               class="btn btn-primary">
                Login
            </a>
            <a class="btn btn-default"
               href="#/register">
                Register
            </a>
        </div>

    </form>
</div>