<!-- Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header Navbar -->
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/shared-lists"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand"><p class="text-info">Shared List</p></a>
        </div>

    </div>
</nav>

<!-- List of Movies -->
<div class="container">

    <h2>{{model.list.title}}</h2>

    <ul class="list-group">

        <!-- Movie item -->
        <li ng-repeat="movie in model.movies" class="list-group-item">
            <img ng-src="{{movie.poster}}" height="100">
            <span class="text-primary lead">
                {{movie.title}}
            </span>
        </li>

    </ul>

</div>