<!-- Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header Navbar -->
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/my-lists"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand"><p class="text-info">Shared List</p></a>
        </div>

    </div>
</nav>

<!-- List of Movies -->
<div class="container">

    <h2>A List of Movies</h2>

    <ul class="list-group">

        <!-- Movie item -->
        <!-- ng-repeat="website in model.websites" -->
        <li class="list-group-item">
            <img src="http://placehold.it/100x150">
            <span class="text-primary lead">
                Movie Title
            </span>
        </li>

        <li class="list-group-item">
            <img src="http://placehold.it/100x150">
            <span class="text-primary lead">
                Another Movie Title
            </span>
        </li>

        <li class="list-group-item">
            <img src="http://placehold.it/100x150">
            <span class="text-primary lead">
                A Third Movie Title
            </span>
        </li>
    </ul>

</div>