<!-- Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header Navbar -->
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/my-lists"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand"><p class="text-info">Edit List</p></a>
        </div>

    </div>
</nav>

<!-- List of Movies -->
<div class="container">

    <form>
        <div class="form-group">
            <label class="control-label"
                   for="title">List Title</label>
            <div class="input-group">
                <input ng-model="model.list.title"
                       type="text"
                       class="form-control"
                       id="title"
                       placeholder="Title">
                <a ng-click="model.updateList()" class="input-group-btn">
                    <button class="btn btn-default" type="button">Change</button>
                </a>
            </div>
        </div>
    </form>

    <ul class="list-group">

        <!-- Movie item -->
        <li ng-repeat="movie in model.movies" class="list-group-item">
            <div class="row">
                <div class="pull-right">
                    <a ng-click="model.deleteMovie(movie._id)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>
            <img ng-src="{{movie.poster}}" height="100">
            <a class="text-primary lead">
                {{movie.title}}
            </a>
        </li>
    </ul>

    <!-- Add Button -->
    <div class="text-center">
        <a href="#/user/{{model.uid}}/my-lists/{{model.lid}}/search" class="btn btn-primary text-center">
            <span class="glyphicon glyphicon-plus"></span>
            Add Movie
        </a>
    </div>
</div>