<!-- Header Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header Navbar -->
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/my-lists/{{model.lid}}"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand"><p class="text-info">Search Movies</p></a>
        </div>

    </div>
</nav>

<!-- Search Input -->
<div class="container">
    <div class="input-group">
        <input ng-model="searchText"
               type="text"
               class="form-control"
               placeholder="Search">
        <span class="input-group-btn">
            <a ng-click="model.searchMovies(searchText)"
               class="btn btn-default"
               type="button">
                <span class="glyphicon glyphicon-search"></span>
            </a>
        </span>
    </div>
</div>

<!-- Movie List -->
<div class="container">
    <div class="well">

        <ul class="list-group">

            <!-- Movie Item -->
            <li ng-repeat="movie in model.movies" class="list-group-item">
                <div class="row">
                <a ng-click="model.selectMovie(movie)">
                    <div class="text-primary lead pull-left">
                        {{movie.Title}}
                    </div>
                    <div class="pull-right">
                        <img ng-src="{{movie.Poster}}" height="100">
                    </div>
                </a>
                </div>
            </li>
        </ul>
    </div>
</div>