<!-- Header Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Collapsible Navbar -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#navbar-data">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><p class="text-info">Movie List Share</p></a>
        </div>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse"
             id="navbar-data">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/profile">
                        <span class="glyphicon glyphicon-user"></span> Profile
                    </a>
                </li>

                <li>
                    <a href="#/my-lists">
                        <span class="glyphicon glyphicon-list"></span> My Lists
                    </a>
                </li>

                <li class="active">
                    <a>
                        <span class="glyphicon glyphicon-list"></span> Shared With Me
                    </a>
                </li>

                <li>
                    <a href="#/friends">
                        <span class="glyphicon glyphicon-globe"></span> Friends
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <a href="#/login"
                   class="btn btn-danger">
                    Logout
                </a>
            </form>
        </div>
    </div>
</nav>

<!-- Main Content -->
<div class="container">

    <!-- List of Friends -->
    <ul class="list-group">
        <li class="list-group-item">
            <h2>Friend 1</h2>
            <!-- List of Lists -->
            <ul class="list-group">

                <!-- List Template -->
                <!-- ng-repeat="list in model.lists" -->
                <li class="list-group-item">
                    <a href="#/list-shared">
                        A List of Movies
                    </a>
                </li>

                <li class="list-group-item">
                    <a>
                        Another List of Movies
                    </a>
                </li>

                <li class="list-group-item">
                    <a>
                        A third List of Movies
                    </a>
                </li>
            </ul>
        </li>

        <li class="list-group-item">
            <h2>Friend 2</h2>
            <!-- List of Lists -->
            <ul class="list-group">

                <!-- List Template -->
                <!-- ng-repeat="list in model.lists" -->
                <li class="list-group-item">
                    <a href="#/list-shared">
                        A List of Movies
                    </a>
                </li>

                <li class="list-group-item">
                    <a>
                        Another List of Movies
                    </a>
                </li>

                <li class="list-group-item">
                    <a>
                        A third List of Movies
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</div>