<!-- Header -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Header Navbar -->
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/my-lists"
                   class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                </a>
            </p>
            <a class="navbar-brand"><p class="text-info">Share</p></a>
        </div>

    </div>
</nav>

<!-- List of Friends -->
<div class="container">

    <ul class="list-group">

        <!-- Movie item -->
        <!-- ng-repeat="website in model.websites" -->
        <li class="list-group-item">
            <span class="text-primary lead">
                Friend 1
            </span>
            <label class="pull-right">
                <input type="checkbox"> Select
            </label>
        </li>

        <li class="list-group-item">
            <span class="text-primary lead">
                Friend 2
            </span>
            <label class="pull-right">
                <input type="checkbox"> Select
            </label>
        </li>

        <li class="list-group-item">
            <span class="text-primary lead">
                Friend 3
            </span>
            <label class="pull-right">
                <input type="checkbox"> Select
            </label>
        </li>
    </ul>

    <!-- Share Button -->
    <div class="text-center">
        <a href="#/my-lists" class="btn btn-primary text-center">
            <span class="glyphicon glyphicon-share"></span>
            Share
        </a>
    </div>
</div>