<!-- Header Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Collapsible Navbar -->
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#navbar-data">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"><p class="text-info">Movie List Share</p></a>
        </div>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse"
             id="navbar-data">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/profile">
                        <span class="glyphicon glyphicon-user"></span> Profile
                    </a>
                </li>

                <li>
                    <a href="#/my-lists">
                        <span class="glyphicon glyphicon-list"></span> My Lists
                    </a>
                </li>

                <li>
                    <a href="#/shared-lists">
                        <span class="glyphicon glyphicon-list"></span> Shared With Me
                    </a>
                </li>

                <li class="active">
                    <a>
                        <span class="glyphicon glyphicon-globe"></span> Friends
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <a href="#/login"
                   class="btn btn-danger">
                    Logout
                </a>
            </form>
        </div>
    </div>
</nav>

<!-- List of Friends -->
<div class="container">

    <ul class="list-group">

        <!-- Movie item -->
        <!-- ng-repeat="website in model.websites" -->
        <li class="list-group-item">
            <span class="text-primary lead">
                Friend 1
            </span>
            <div class="pull-right">
                <a href="#/remove" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <span class="text-primary lead">
                Friend 2
            </span>
            <div class="pull-right">
                <a href="#/remove" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <span class="text-primary lead">
                Friend 3
            </span>
            <div class="pull-right">
                <a href="#/remove" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Add Friend -->
    <form>
        <div class="form-group">
            <label class="control-label"
                   for="title">Add Friend</label>
            <div class="input-group">
                <input type="text"
                       class="form-control"
                       id="title"
                       placeholder="Friend's username">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Add</button>
                </span>
            </div>
        </div>
    </form>
</div>